.container {
  overflow: hidden;
  position: relative;
  height: calc(100vh);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: auto;
  color: var(--color-text-color);
}

.textContainer {
  flex: 1;
  display: flex;
  gap: 40px;
  margin-top: 200px;
  margin-left: -775px;
}

.title {
  font-family: Prototype, sans-serif;
  font-size: 80px;
  line-height: 88px;
  background: linear-gradient(
    to right,
    var(--color-green1),
    var(--color-green2),
    var(--color-green6),
    var(--color-green7),
    var(--color-green8)
  );
  background-clip: text;
  color: transparent;
}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itemsContainer {
  margin-bottom: 200px;
  margin-left: 50px;
  width: 50%;
}

.formContainer {
  flex: 1;
  position: relative;
  height: 30rem;
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .container,
  .wrapper {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .title {
    font-size: 50px;
  }

  .subContainer,
  .formContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
  }

  .itemsContainer {
    display: none;
  }
}
