@keyframes slide {
  to {
    transform: translate(calc(-101vw - 0.5rem));
  }
}

.slider {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.slide {
  display: inline-block;
  display: flex;
  flex-direction: row;
  animation: 35s slide infinite linear;
}

.img {
  height: 100px;
  margin: 0 20px;
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.img:hover {
  filter: none;
}

@media (max-width: 800px) {
  @keyframes slide {
    to {
      transform: translate(calc(-100vw - 100rem));
    }
  }
}
